
@{
    ViewBag.Title = "WebAdministrador";
    Layout = "~/Views/Administrador/Administrador.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Usuarios Registrados</h4>
                    </div>
                    <div class="content">
                        <label>Copia De Seguridad de la Base de Datos</label>
                        <input id="Button1" type="button" value="Base de Datos" class="primary-color"/>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
     

