
@{
    ViewBag.Title = "UsuarioPrincipal";
    Layout = "~/Views/PaginaMaestra.cshtml";
}

<section id="carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="wowslider-container1">
                    <div class="ws_images">
                        <ul>
                            <li><img src="~/RecursosAdmin/data1/images/1.jpg"  title="" id="wows1_0" /></li>
                            <li><a href="http://wowslider.net"><img src="~/RecursosAdmin/data1/images/2.jpg"  title="" id="wows1_1" /></a></li>
                            <li><img src="~/RecursosAdmin/data1/images/3.jpg"  title="" id="wows1_2" /></li>
                        </ul>
                    </div>
                    <div class="ws_bullets">
                        <div>
                            <a href="#" title=""><span><img src="~/RecursosAdmin/data1/tooltips/1.jpg" alt="lambs-lettuce-3181610_640" />1</span></a>
                            <a href="#" title=""><span><img src="~/RecursosAdmin/data1/tooltips/2.jpg" alt="paprika-3212137_640" />2</span></a>
                            <a href="#" title=""><span><img src="~/RecursosAdmin/data1/tooltips/3.jpg" alt="food-photography-2834549_640" />3</span></a>
                        </div>


                    </div>
                    <script type="text/javascript" src="~/RecursosAdmin/engine1/wowslider.js"></script>
                    <script type="text/javascript" src="~/RecursosAdmin/engine1/script.js"></script>
                </div>
            </div>
        </div>
</section>




<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Renove/images/cooker-img.png" alt="cooker-img">
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        Cocina <span>Tech</span> </br> La mezcla <span>PERFECTA</span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">¿Quieres vivir la experiencia de cocinar? </br> Cocina Tech te ofrece la alternativa perfecta para tí usuario que quieres vivir la experiencia de cocinar sin tener que sufrir tanto ni invertir tanto tiempo </br>¡Olvidate de los ratos tediosos en la cocina!</p>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->
<!--
price start
============================ -->
<!--
footer  start
============================= -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block wow fadeInLeft" data-wow-delay="200ms">
                    <h3>DIRECCIÓN DE <span>CONTACTO</span></h3>
                    <div class="info">
                        <ul>
                            <li>
                                <h4><i class="fa fa-phone"></i>Teléfonos</h4>
                                <p>(999) 23 96 168 (999) 43 89 876</p>

                            </li>
                            <li>
                                <h4><i class="fa fa-map-marker"></i>Dirección</h4>
                                <p>Calle 81c #320 x 14 y 16 Morelos Fovisste</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-envelope"></i>Correo Electrónico</h4>
                                <p>contacto.cocinatech@gmal.com</p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <!-- .col-md-4 close -->
            <div class="col-md-6">
                <div class="block wow fadeInLeft" data-wow-delay="1100ms">
                    <div class="gallary">
                        <h3>GALERÍA DE<span> FOTOS</span></h3>
                        <ul>
                            <li>
                                <a href="#"><img src="~/Renove/images/photo/photo-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Renove/images/photo/photo-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Renove/images/photo/photo-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Renove/images/photo/photo-4.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #footer close -->


